@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {

  /* CSS HEX */
  --rich-black: #00111cff;
  --rich-black-2: #001523ff;
  --rich-black-3: #001a2cff;
  --prussian-blue: #002137ff;
  --prussian-blue-2: #00253eff;
  --prussian-blue-3: #002945ff;
  --prussian-blue-4: #002e4eff;
  --prussian-blue-5: #003356ff;
  --indigo-dye: #003a61ff;
  --indigo-dye-2: #00406cff;

  /* palette 2 */
  --light-sky-blue: #97caedff;
  --argentinian-blue: #63b0e3ff;

  /* palette 3 */
  --seasalt: #f8f9faff;
  --antiflash-white: #e9ecefff;
  --platinum: #dee2e6ff;
  --french-gray: #ced4daff;
  --french-gray-2: #adb5bdff;
  --slate-gray: #6c757dff;
  --outer-space: #495057ff;
  --onyx: #343a40ff;
  --eerie-black: #212529ff;

  --bordered:1px solid white;
}

*,*::before,*::after {
  box-sizing:border-box;
}

html { 
  font-family: 'Open Sans';
  scrollbar-width: none;
}

body {
  width: 100%;
  color:var(--french-gray);
  background: linear-gradient(45deg,var(--rich-black), var(--prussian-blue));
}

body *::selection{
  background-color: var(--indigo-dye-2);
}

h1,h2,h3 {
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 100%;
  height: auto;
}

main {
  display: grid;
  grid-template-columns:0.8fr 1fr;
  grid-template-rows:1fr;
  gap:1rem;
}

.sticky {
  position: sticky;
  top:0;
}

.main-info {
  position: sticky;
  top:0;
  height:100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.presentation-card {
  padding: 1rem;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.sub-presentation-card {
  flex:1;
  text-align: center;
}

.sub-presentation-card p{
  font-size: 1.5rem;
}

.sub-presentation-card #name {
  font-size: 4.3rem;
}

.sub-presentation-card #job {
  text-align: center;
  font-size: 1.6rem;
}


.tech-stack {
  width: 100%;
  padding: 1rem;
}

.tech-stack-title {
  text-align: center;
}

.tech-gallery-container{
  display: flex;
  justify-content: center;
}

.tech-gallery {
  padding: 1rem;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(2,1fr);
  gap:1rem
}

.tech {
  display: flex;
  flex-flow: column;
  gap:0.5rem;
  justify-content: center;
  align-items: center;
}

.tech-name {
  cursor: pointer;
  font-size: 0.9rem;
  text-align: center;
  font-weight: bold;
}

.tech-name:hover{
  text-decoration: underline;
}

.links {
  width: 100%;
  justify-self: end;
}

.links-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.links-sub-container {
  padding: 1rem;
  width: 40%;
  display: flex;
  flex-flow:row wrap;
  justify-content: space-around;
}

.links-sub-container svg{ 
  cursor: pointer;
  fill:var(--argentinian-blue);
  width: calc(1.5rem + 1vw);
  height: calc(1.5rem + 1vw);
}

.links-title {
  text-align: center;
}

svg{ 
  cursor: pointer;
  fill:var(--argentinian-blue);
  width: calc(2rem + 1vw);
  height: calc(2rem + 1vw);
}

svg:hover{ 
  fill:var(--seasalt);
  max-width: 100%;
  max-height: 100%;
}

polyline, rect{
  stroke: var(--argentinian-blue);
}


.description {
  max-width: 100%;
  display: grid;
}

.des-sec {
  height: 100vh;
}

.section-header {
  padding: 1rem 3rem;
  backdrop-filter: blur(8px);
}

.about {
  font-size: 1.1rem;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.about-text {
  width: 85%;
}

.nav-container {
  width: 50%;
}

.nav-buttons {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-button {
  padding: 0.4rem 1rem;
  color:var(--argentinian-blue);
  border: 2px solid var(--argentinian-blue);
  border-radius: 1rem;
  text-decoration: none;
  font-weight: bold;
}

.nav-button:hover {
  background-color: var(--indigo-dye-2);
}

.nav-button:active {
  background-color: var(--prussian-blue);
}

.proyects-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* .proyects-content *{ */
/*   border:1px solid var(--seasalt); */
/* } */

.proyects-content {
  width: 85%;
  display: grid;
  grid-template-columns:1fr 1fr;
  grid-template-rows: auto;
  gap:1rem;
}

.proyect {
  border-radius: 0.5rem;
  border:2px solid #f8f9fa20;
}

.proyect-image{
  border-top-right-radius:0.5rem ;
  border-top-left-radius:0.5rem ;
  max-width: 100%;
  max-height: 100%;
}

.proyect-title {
  padding: 0.5rem;
  font-size: 1.3rem;
  text-align: center;
}

.proyect a{
  color: var(--seasalt);
  text-decoration: none;
}

.proyect a:hover{
  text-decoration: underline;
  color:var(--french-gray);
}

.proyect a:active{
  text-decoration: none;
  color:var(--argentinian-blue);
}

.contact-info {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-container {
  width: 35%;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr ;
  gap:1rem
}

.contact-container span{
  width: fit-content;
}

.contacto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:1rem;
}
  
@media only screen and (max-width: 767px) {

  main{
    grid-template-columns: 1fr;
  }

  .nav-container {
    width: 80%;
  }

  .proyects-content {
    width: 85%;
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: auto;
    gap:1rem;
  }

  .sub-presentation-card #name {
    font-size: 3.5rem;
  }

  .sub-presentation-card #job {
    font-size: 1.4rem;
  }
  .main-info{
    position: static;
  }

  .tech-gallery {
    width: fit-content;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    justify-content: center;
  }

  .contact-container {
    width: 65%;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr ;
    gap:1rem
  }
}

.no-padding-margin {
  padding: 0;
  margin: 0;
}

.all-width {
  width: 100%;
}

.all-width-height {
  width: 100%;
  height: 100%;
}

.no-list-style {
  list-style: none;
}
